html, body {
  width: 100vw;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff5ea; }

/*
@media only screen and (max-width: 600px) {
  body {
    font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: red;
  }
}
*/
a {
  color: #00B7FF; }

.animation-enter {
  opacity: .01;
  transform: translateY(50%) scale(0.95, 0.95);
  transition: all 1s ease-out; }
  .animation-enter.animation-enter-active {
    opacity: 1;
    transform: translateY(0) scale(1, 1); }

.animation-leave {
  opacity: 1;
  transform: translateY(0) scale(1, 1);
  transition: all .2s ease-out; }
  .animation-leave.animation-leave-active {
    opacity: .01;
    transform: translateY(5%) scale(0.98, 0.98); }

.opacity-appear {
  opacity: 0; }
  .opacity-appear.opacity-appear-active {
    opacity: 1;
    transition: opacity 1s ease-out; }

.opacity-enter {
  opacity: 0; }
  .opacity-enter.opacity-enter-active {
    opacity: 1;
    transition: opacity 1s ease-out; }
